@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* BPMN.io Styling */
.bjs-powered-by {
  display: none;
}

.djs-palette {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 96px;
  background: white;
  padding: 6px;
  border: solid 1px #ccc;
  border-radius: 2px;
}

.djs-palette .group {
  margin: 6px;
  font-size: 0.9em;
  color: #666;
}

.djs-palette .entry:hover {
  color: rgb(26, 115, 232);
}

.djs-context-pad {
  position: absolute;
  display: none;
  pointer-events: auto;
  padding: 1px;
}

.djs-context-pad.open {
  display: block;
}

.djs-context-pad .entry {
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  margin: 0 2px 2px 0;
  cursor: default;
  background-color: white;
  box-shadow: 0 0 2px 1px #fafafa;
  padding: 2px;
  border-radius: 3px;
}

.djs-context-pad .entry:hover {
  background: rgb(26, 115, 232);
  color: white;
}
